.panel-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.buttons {
  display: flex;
  margin: 2em;
  justify-content: center;
  align-content: center;
}

.button {
  display: block;
  width: 100px;
  margin: 10px;
  padding: 5px;
}

.steps {
  display: flex;
  margin: 2em;
  border: 1px solid blueviolet;
  padding: 1em;
  justify-content: center;
  align-content: center;
}
